* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button:focus {
    outline: none;
}

$primary-color: #ec6280;
$hollywood-color: #ece262;
$fantasy-color: rgb(43, 72, 100);
$horror-color: rgb(95, 21, 21);
$adventure-color: rgb(144, 206, 108);
$main-font: 'Limelight', sans-serif;
$paragraph-font: 'Open Sans', sans-serif;

@mixin transform($property) {
    -webkit-transform: $property;
    -ms-transform: $property;
    transform: $property;
}

@mixin transition($transition...) {
    -moz-transition: $transition;
    -o-transition: $transition;
    -webkit-transition: $transition;
    transition: $transition;
}

@mixin flexbox() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flexbox;
    display: -webkit-flex;
    display: flex;
}

@mixin flex-direction($direction) {
    -webkit-flex-direction: $direction;
    -moz-flex-direction: $direction;
    -ms-flex-direction: $direction;
    flex-direction: $direction;
}

@mixin justify-content($justify) {
    -webkit-justify-content: $justify;
    -moz-justify-content: $justify;
    -ms-justify-content: $justify;
    justify-content: $justify;
    -ms-flex-pack: $justify;
}

@mixin align-items($align) {
    -webkit-align-items: $align;
    -moz-align-items: $align;
    -ms-align-items: $align;
    -ms-flex-align: $align;
    align-items: $align;
}

@mixin flex-with-justify-and-align($justify, $align) {
    @include flexbox();
    @include justify-content($justify);
    @include align-items($align);
}

@mixin flex-with-alignment-and-direction($justify, $align, $direction) {
    @include flex-with-justify-and-align($justify, $align);
    @include flex-direction($direction);
}


/*--------------------*/
/* LANDING PAGE */
/*--------------------*/

// body {
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//     background-position: center;
//     background-size: cover;
//     background-attachment: fixed;
//     height: 100vh;
//     padding: 15px;
//     cursor: default;
// }
body {
    @include flexbox();
    @include flex-direction(column);
    @include justify-content(space-between);
    min-height: 100vh;
    padding: 15px;
    cursor: default;
}
#background-wrap {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    background-position: center;
    -webkit-background-position: center;
    -moz-background-position: center;
    -o-background-position: center;

    // background-attachment: fixed;
    // -webkit-background-attachment: fixed;
    // -moz-background-attachment: fixed;
    // -o-background-attachment: fixed;

    background-repeat: no-repeat;
    background-attachment: scroll;

    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.header-container {
    height: 45vh;
    @include flex-with-justify-and-align(center, center);
    @include flex-with-alignment-and-direction(center, center, column);
}
.main__title {
    font-family: $main-font;
    font-size: 56px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 5vh;
    margin-top: 2vh;
    padding: 10px;
}

/* -------- Input -------- */

.input__container {
    @include flexbox();
    @include flex-direction(row);
    margin-left: 50px;
}
.input {
    font-family: $paragraph-font;
    border: none;
    border-radius: 30px;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.7);
    font-weight: 700;
    padding: 14px;
    font-size: 14px;
    padding-right: 50px;
    @include transition(.2s);
}
.input::placeholder {
    color: #252525;
    font-weight: 700;
}
.input:focus {
    outline: none;
    background-color: #fff6ee;
}

/* -------- Search Button -------- */

.button {
    background-color: transparent;
    width: 50px;
    padding: 10px;
    border: none;
    border-radius: 0 30px 30px 0;
    cursor: pointer;
    @include transition(.2s);
    @include transform(translateX(-50px));
}
.fa-search {
    font-size: 20px;
    color: rgb(20, 20, 20);
    @include transition(.2s);
}

/* -------- Themes buttons -------- */

.themes {
    margin: 16px;
}
.theme-buttons__container {
    width: fit-content;
}
.theme-buttons__container:hover {
    .theme__button {
        left: 0px;
    }
}
.themes__title {
    font-family: $paragraph-font;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 10px;
    margin-left: 4px;
}
.theme__button {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: none;
    margin-right: 5px;
    padding: 3px;
    cursor: pointer;
    background-color: rgb(211, 211, 211);
    color: white;
    font-family: $paragraph-font;
    font-weight: 700;
    position: relative;
    @include transition(.3s);
}
.theme__button:nth-of-type(1) {
    z-index: 10;
}
.theme__button:nth-of-type(2) {
    left: -60px;
    z-index: 9;
}
.theme__button:nth-of-type(3) {
    left: -120px;
    z-index: 8;
}
.theme__button:nth-of-type(4) {
    left: -180px;
    z-index: 7;
}
.theme__button:nth-of-type(5) {
    left: -240px;
    z-index: 6;
}
.theme__button__title {
    position: relative;
    color: #ffffff;  
    text-align: center;
    font-size: 10px;
}
.theme__button::before {
    content: "";
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.5;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    @include transition(.2s);
}
.theme__button:nth-of-type(1)::before {
    background-image: url('../images/scifi-background-small.jpg');
}
.theme__button:nth-of-type(2)::before {
    background-image: url('../images/hollywood-background-small.jpg');
}
.theme__button:nth-of-type(3)::before {
    background-image: url('../images/fantasy-background-small.jpg');
}
.theme__button:nth-of-type(4)::before {
    background-image: url('../images/horror-background-small.jpg');
}
.theme__button:nth-of-type(5)::before {
    background-image: url('https://cdn.pixabay.com/photo/2019/05/09/15/08/jungle-4191340_1280.jpg');
}
.theme__button:hover::before {
    opacity: 1;
}
.active::before {
    opacity: 1;
}


/*--------------------*/
/* MOVIE CONTAINER */
/*--------------------*/

.movie__container {
    @include flexbox();
    @include align-items(center);
    @include flex-direction(column);
    margin-top: 8vh;
}
.movie__content {
    @include flexbox();
    @include flex-direction(row);
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: #fff6ee;
    width: 535px;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    @include transition(all 0.3s cubic-bezier(.25,.8,.25,1));
}

/* -------- Right Content -------- */

.right__content {
    width: 70%;
    margin: 30px;
    position: relative;
    @include flexbox();
    @include flex-direction(column);
}
.movie__title {
    font-family: $main-font;
    color: black;
    text-transform: uppercase;
    text-decoration: underline;
    margin-bottom: 10px;
    @include transition(.2s);
    position: relative;
}
.movie__title .link__text {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    font-size: 12px;
    border-radius: 4px;
    padding: 5px;
    position: absolute;
    z-index: 1;
}
.movie__title:hover .link__text {
    visibility: visible;
}
.info__title {
    font-family: $main-font;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.paragraph {
    width: 100%;
    font-family: $paragraph-font;
    margin-bottom: 10px;
    font-size: 14px;
}
.fa-times {
    position: absolute;
    left: 262px;
    top: -24px;
    cursor: pointer;
    @include transition(.2s);
}

/* -------- Left Content -------- */

.left__content .poster {
    width: 90%;
    margin: 30px 0 30px 30px;
}
.poster {
    border: 3px solid black;
}


/*--------------------*/
/* MEDIA QUERIES */
/*--------------------*/

@media screen and (max-width: 565px) {
    .main__title {
        font-size: 30px;
    }
    .input {
        max-width: 265px;
    }
    .movie__container {
        margin-top: 4vh;
    }
    .movie__content {
        width: 290px;
        max-height: 350px;
        overflow-y: scroll;
        @include flex-direction(column-reverse);
    }
    .movie__title {
        font-size: 5vw;
    }
    .movie__content:first-of-type {
        margin-top: 24px;
    }
    .paragraph {
        font-size: 12px;
    }
    .fa-times {
        left: 246px;
        top: -24px;
    }
    .left__content .poster {
        margin: 0 0 30px 30px;
        width: 78%;
    }
}

@media (device-height : 568px) 
    and (device-width : 320px) 
    and (-webkit-min-device-pixel-ratio: 2) {
        .main__title {
            font-size: 8vw;
        }
        .input {
            max-width: 214px;
        }
        .right__content {
            width: 80%;
        }
}


/*--------------------*/
/* THEMES */
/*--------------------*/

/* -------- Sci-Fi/Default -------- */

.sci-fi__theme {
    background-image: url('../images/scifi-background.jpg');
}
.main__title--sci-fi {
    color: $primary-color;
    border: 5px dotted $primary-color;
}
.input--sci-fi {
    color: $primary-color;
}
.input--sci-fi:focus {
    box-shadow: 0 0 10px $primary-color;
}
.input--sci-fi:hover {
    box-shadow: 0 0 10px $primary-color;
}
.fa-search--sci-fi:hover {
    color: $primary-color;
}
.movie__title--sci-fi:hover {
    color: $primary-color;
}
.fa-times--sci-fi:hover {
    color: $primary-color;
}
.movie__content--sci-fi:hover {
    box-shadow: 0 0 18px rgba(255, 0, 0, 0.25), 0 5px 10px rgba(255, 0, 0, 0.22);
}

/* -------- Hollywood -------- */

.hollywood__theme {
    background-image: url('../images/hollywood-background.jpg');
 }
.main__title--hollywood {
    color: $hollywood-color;
    border: 5px dotted $hollywood-color;
}
.input--hollywood {
    color: black;
}
.input--hollywood:focus {
    box-shadow: 0 0 10px $hollywood-color;
}
.input--hollywood:hover {
    box-shadow: 0 0 10px $hollywood-color;
}
.fa-search--hollywood:hover {
    color: $hollywood-color;
}
.movie__title--hollywood:hover {
    color: $hollywood-color;
}
.fa-times--hollywood:hover {
    color: $hollywood-color;
}
.movie__content--hollywood:hover {
    box-shadow: 0 0 5px $hollywood-color, 0 0 15px $hollywood-color;
}

/* -------- Fantasy -------- */

.fantasy__theme {
    background-image: url('../images/fantasy-background.jpg');
    background-position: top;
}
.main__title--fantasy {
    color: $fantasy-color;
    border: 5px dotted $fantasy-color;
}
.input--fantasy {
    color: $fantasy-color;
}
.input--fantasy:focus {
    box-shadow: 0 0 10px $fantasy-color;
}
.input--fantasy:hover {
    box-shadow: 0 0 10px $fantasy-color;
}
.fa-search--fantasy:hover {
    color: $fantasy-color;
}
.movie__title--fantasy:hover {
    color: $fantasy-color;
}
.fa-times--fantasy:hover {
    color: $fantasy-color;
}
.movie__content--fantasy:hover {
    box-shadow: 0 0 18px $fantasy-color, 0 5px 10px $fantasy-color;
}

/* -------- Horror -------- */

.horror__theme {
    background-image: url('../images/horror-background.jpg');
}
.main__title--horror {
    color: $horror-color;
    border: 5px dotted $horror-color;
}
.input--horror {
    color: $horror-color;
}
.input--horror:focus {
    box-shadow: 0 0 10px $horror-color;
}
.input--horror:hover {
    box-shadow: 0 0 10px $horror-color;
}
.fa-search--horror:hover {
    color: $horror-color;
}
.movie__title--horror:hover {
    color: $horror-color;
}
.fa-times--horror:hover {
    color: $horror-color;
}
.movie__content--horror:hover {
    box-shadow: 0 0 5px rgb(27, 26, 26), 0 0 15px rgb(27, 26, 26);
}

/* -------- Adventure -------- */

.adventure__theme {
    background-image: url('https://cdn.pixabay.com/photo/2019/05/09/15/08/jungle-4191340_1280.jpg');
}
.main__title--adventure {
    color: $adventure-color;
    border: 5px dotted $adventure-color;
}
.input--adventure {
    color: $adventure-color;
}
.input--adventure:focus {
    box-shadow: 0 0 10px $adventure-color;
}
.input--adventure:hover {
    box-shadow: 0 0 10px $adventure-color;
}
.fa-search--adventure:hover {
    color: $adventure-color;
}
.movie__title--adventure:hover {
    color: $adventure-color;
}
.fa-times--adventure:hover {
    color: $adventure-color;
}
.movie__content--adventure:hover {
    box-shadow: 0 0 5px $adventure-color, 0 0 15px $adventure-color;
}